<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./lib/bootstrap.css">
</head>
<body>
    <div id="app">
        
        <div class="panel panel-primary">
              <div class="panel-heading">
                    <h3 class="panel-title">ToDo</h3>
              </div>
              <div class="panel-body">
                <label>No:
                    <input type="text" class="form-control" v-model="id">
                </label>
                <label>Item:
                    <input type="text" class="form-control" v-model="todo">
                </label>
                <input type="button" value="提交" class="btn btn-primary" @click='add'>
                <label>Search:
                    <input type="text" class="form-control" v-model="keywords">
                </label>
              </div>
        </div>
        
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Item.</th>
                    <th>Ctime.</th>
                    <th>Operation.</th>
                </tr>
            </thead>
            <tbody v-for="item in items">
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
        
    </div>
    <script src="./lib/vue.js"></script>
    <script>
        let app = new Vue({
            el: '#app',
            data: {
                id: '',
                todo: '',
                keywords: '',
                list: [{
                    id: '1',
                    name: '洗衣服',
                    ctime: new Date()
                },
                {
                    id: '2',
                    name: '做饭',
                    ctime: new Date()
                }
                ]
            }
        })
    </script>
</body>
</html>