<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./lib/bootstrap.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">TODO</h3>
            </div>
            <div class="panel-body">
                <label for="">
                    No:
                    <input type="text" class="form-control" v-model="id">
                </label>
                <label for="">
                    Item:
                    <input type="text" class="form-control" v-model="name" @keyup.f2='add'>
                </label>
                <input type="button" value="添加" class="btn btn-primary" @click='add'>
                <label for="">
                    按关键字搜索:
                    <input type="text" class="form-control" v-model="keywords" id="search" v-focus v-color="'blue'">
                </label>
            </div>
        </div>

        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Item</th>
                    <th>Ctime</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in search(keywords)" :key="item.id">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.ctime | dataFormat}}</td>
                    <td>
                        <a href="" @click.prevent='del(item.id)'>删除</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <h1 v-fontweight="500" v-fontsize="50" >lalalla</h1> 
    </div>
    <script src="./lib/vue.js"></script>
    <script>
        Vue.filter('dataFormat', (data, pattern='') => {
            if (pattern.toLowerCase() === 'yyyy-mm-dd') {
                return `${y}-${m}-${d}`;
            } else {
                var dt = new Date(data);
                var y = dt.getFullYear();
                var m = dt.getMonth();
                var d = dt.getDay();

                return `${y}-${m}-${d}`;
            }
        })

        Vue.config.keyCodes.f2 = 113
        Vue.directive('focus', {
            bind: function(el){
                //el.focus()
            },
            inserted: function(el){
                el.focus()
            },
            updated: function(){}
        });
        Vue.directive('color', {
            bind: function(el, binding){
                //el.focus()
                el.style.color = binding.value;
            },
            inserted: function(el){
                
            },
            updated: function(){}
        });
        let app = new Vue({
            el: '#app',
            data: {
                id: '',
                name: '',
                keywords: '',
                list: [{
                        id: '1',
                        name: '洗衣服',
                        ctime: new Date()
                    },
                    {
                        id: '2',
                        name: '做饭',
                        ctime: new Date()
                    }
                ]
            },
            methods: {
                add() {
                    var car = {
                        id: this.id,
                        name: this.name,
                        ctime: new Date()
                    };
                    this.list.push(car);
                    this.id = '';
                    this.name = '';
                },
                del(id) {
                    this.list.some((item, i) => {
                        if (item.id == id) {
                            this.list.splice(i, 1);
                            return true;
                        }
                    })
                },
                search(keywords) {
                    let newList = [];
                    this.list.forEach(item => {
                        if (item.name.indexOf(keywords) != -1) {
                            newList.push(item);
                        }
                    })
                    return newList;
                }
            },
            filters: {
                'dataFormat': (data, pattern = '') => {
                    if (pattern.toLowerCase() === 'yyyy-mm-dd') {
                        return `${y}-${m}-${d}`;
                    } else {
                        var dt = new Date(data);
                        var y = dt.getFullYear();
                        var m = dt.getMonth();
                        var d = dt.getDay();

                        return `${y}-${m}-${d}~`;
                    }
                }
            },
            directives: {
                'fontweight': {
                   bind: function(el, binding){
                    el.style.fontWeight = binding.value;
                    } 
                },
                'fontsize': {
                    bind: function(el, binding){
                        el.style.fontSize = parseInt(binding.value) + 'px';
                    }
                }
            }
        })

        //document.getElementById('search').focus();
    </script>
</body>

</html>